#####################################################
#
# List of approvers for Contrast Semantic Conventions repository
#
#####################################################
#
# Learn about CODEOWNERS file format:
#  https://help.github.com/articles/about-code-owners
#

# Schemas and schema file tooling
/                       @seschis

# TODO - Add semconv area experts and groups
